{% extends 'base.html.twig' %}



{% block body %}

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
            <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link pr-0" target="_blank" href="{{path('app_dashboard')}}">
                        <i class="fas fa-globe fa-fw"></i>
                    </a>
                </li>

                <div class="topbar-divider d-none d-sm-block"></div>
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img class="img-profile rounded-circle"
                            src="https://product.geniusocean.com/genius-bank/assets/images/1639300861admin.jpg"
                            style="max-width: 60px" />
                        <span class="ml-2 d-none d-lg-inline text-white small">Admin</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                            Change Password
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- Topbar -->

        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
            <div class="">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <h5 class="mb-0 text-gray-800 pl-3">
                        <a class="btn btn-primary btn-rounded btn-sm" href="{{path('app_blog')}}">
                            <i class="fas fa-arrow-left"></i>Back</a>
                    </h5>

                </div>
            </div>

            <div class="row justify-content-center mt-3">
                <div class="col-md-10">
                    <div class="card mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">
                                Add New Category Form
                            </h6>
                        </div>

                        <div class="card-body">
                            {{form_start(form,{'attr': {'novalidate': 'novalidate'}})}}<div class="form-group">
                                {{form_label(form.name,'Name : ',{'attr':{'class':'form-label'}})}}
                                {{form_widget(form.name,{'attr':{'class':'form-control'}})}}
                                {{ form_errors(form.name) }}
                            </div>
                            <div class="form-group">
                                {{form_label(form.description,'Description : ',{'attr':{'class':'form-label'}})}}
                                {{form_widget(form.description,{'attr':{'class':'form-control'}})}}
                                {{ form_errors(form.description) }}
                                <br>
                            </div>
                            {{form_widget(form.save,{'attr':{'class':'btn btn-primary w-100'}})}}
                            {{form_end(form)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---Container Fluid-->
    </div>
</div>
</div>

<!-- Scroll to top -->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
{% endblock %}