{% extends 'base.html.twig' %}

{% block body %}
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!-- TopBar -->
            <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link pr-0" target="_blank" href="https://product.geniusocean.com/genius-bank">
                            <i class="fas fa-globe fa-fw"></i>
                        </a>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="img-profile rounded-circle"
                                src="https://product.geniusocean.com/genius-bank/assets/images/1639300861admin.jpg"
                                style="max-width: 60px" />
                            <span class="ml-2 d-none d-lg-inline text-white small">Admin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="https://product.geniusocean.com/genius-bank/admin/profile">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="https://product.geniusocean.com/genius-bank/admin/password">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Change Password
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="https://product.geniusocean.com/genius-bank/admin/logout">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- Topbar -->

            <!-- Container Fluid-->
            <div class="container-fluid" id="container-wrapper">
                <form action="#" class="nk-form nk-form-style-1" novalidate="novalidate">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Type something..." id="search">
                        <input type="hidden" id="blog_id" name="blog_id" value="">

                    </div>
                </form>

                <div class="col-sm-12 col-md-4 pr-3 text-right">
                    <a class="btn btn-primary" href="{{path('app_blog_create')}}">
                        <i class="fas fa-plus nav-item"></i> Add New Post
                    </a>
                </div>
                <br>
              <div class="card mb-4">
                    <div class="table-responsive p-3">
                        <table id="geniustable" class="table  dt-responsive" cellspacing="0" width="100%">
                            <thead class="thead-light">
                                <tr>
                                    <th>Featured Image</th>
                                    <th>Post Title</th>
                                    <th>Description</th>
                                    <th>Options</th>
                                </tr>

                            </thead>


                            {% for c in blogs %}
                            <tr>
                                <td><img src="{{asset('/uploads/photos/'~c.photo)}}"></td>
                                <td>{{c.name}}</td>
                                <td>{{c.description}}</td>
                                <td>
                                    <ul>
                                        <li style="display : flex;"><i class="fa-solid fa-trash"
                                                style="margin-right:5px;margin-top:4px;"></i><a
                                                href="{{path('remove_blog',{'id':c.id})}}">Delete</a> </li>
                                        <li style="display:flex;"><i class="fa-solid fa-pen-to-square"
                                                style="margin-right:5px;margin-top:3px;"></i><a
                                                href="{{path('update_blog',{'id':c.id})}}">Update</a></li>
                                            <li style="display:flex;"><i class="fa fa-download"
                                                style="margin-right:5px;margin-top:3px;"></i><a
                                                href="{{path('app_blog_download',{'id':c.id})}}">Download</a></li>
                                        
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %}


                          </table>
                          {{ knp_pagination_render(blogs) }}
                        </div>
                        
                     </div>
                
                   
              </div>
            </div>
        </div>


    </div>
    <!---Container Fluid-->
</div>
</div>
</div>

<!-- Scroll to top -->


<button onclick="topFunction()" id="myBtn" title="Go to top" style="float:right;"><i class="fas fa-angle-up" ></i></button>
<script>
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("myBtn").style.display = "block";
    } else {
      document.getElementById("myBtn").style.display = "none";
    }
  }

  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
{% endblock %}