<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
 <script src="https://kit.fontawesome.com/3c64a1ca0d.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{asset('assets/front/css/bootstrap.min.css')}}" />
<link rel="stylesheet" href="{{asset('assets/admin/css/bootstrap-colorpicker.css')}}" />
<link rel="stylesheet" href="{{asset('assets/admin/css/bootstrap-iconpicker.css')}}" />
<link rel="stylesheet" href="{{asset('assets/admin/css/color-picker.css')}}" />
<link rel="stylesheet" href="{{asset('assets/admin/css/custom.css')}}" />
<link rel="stylesheet" href="{{asset('assets/admin/css/plugin.css')}}" />
<link rel="stylesheet" href="{{asset('assets/admin/css/ruang-admin.css')}}" />
<link rel="stylesheet" href="{{asset('assets/admin/css/select2.min.css')}}" />
<link rel="stylesheet" href="{{asset('assets/admin/css/summernote.css')}}" />
<link rel="stylesheet" href="{{asset('assets/admin/css/tagify.css')}}" />
<link rel="stylesheet" href="{{asset('assets/admin/css/toastr.css')}}" />
<link rel="stylesheet" href="{{asset('assets/front/css/all.min')}}" />
<link rel="stylesheet" href="{{asset('assets/front/css/animate.css')}}" />
<link rel="stylesheet" href="{{asset('assets/front/css/bootstrap.min.css')}}" />
<link rel="stylesheet" href="{{asset('assets/front/css/font9411.css')}}" />
<link rel="stylesheet" href="{{asset('assets/front/css/lightbox.min.css')}}" />
<link rel="stylesheet" href="{{asset('assets/front/css/main.css')}}" />
<link rel="stylesheet" href="{{asset('assets/front/css/odometer.css')}}" />
<link rel="stylesheet" href="{{asset('assets/front/css/owl.min.css')}}" />
<link rel="stylesheet" href="{{asset('assets/front/css/styles93e6.css')}}" />
<link rel="stylesheet" href="{{asset('assets/front/css/toastr.min.css')}}" />
<link rel="stylesheet" href="{{asset('assets/user/css/custom.css')}}" />
<link rel="stylesheet" href="{{asset('assets/user/css/demo.min.css')}}" />
<link rel="stylesheet" href="{{asset('assets/user/css/tabler.min.css')}}" />
<link rel="stylesheet" href="{{asset('assets/user/css/tabler-flags.min.css')}}" />
<link rel="stylesheet" href="{{asset('assets/user/css/tabler-payments.min.css')}}" />
<link rel="stylesheet" href="{{asset('assets/user/csstabler-vendors.min.css')}}" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    
    
    {% block body %}{% endblock %}
    {% block actualite %}{% endblock %}
    {% block blogcategory %}{% endblock %}
    {% block details %}{% endblock %}
    {% block blog %}{% endblock %}
    {% block createCategory %}{% endblock %}
    {% block category %}{% endblock %}
    {% block update %}{% endblock %}
    {% block reclamation %}{% endblock %}
    {% block create %}{% endblock %}
    {% block createAgence %}{% endblock %}
    {% block agence %}{% endblock %}
    {% block dashboard %}{% endblock %}
    </body>

<script src="{{asset('assets/front/js/jquery-3.6.0.min.js')}}"></script>
<script src="{{asset('assets/admin/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{asset('assets/admin/js/bootstrap-colorpicker.js')}}"></script>
<script src="{{asset('assets/admin/js/bootstrap-datepicker.min.js')}}"></script>
<script src="{{asset('assets/admin/js/bootstrap-iconpicker.bundle.min.js')}}"></script>
<script src="{{asset('assets/admin/js/chart.min.js')}}"></script>
<script src="{{asset('assets/admin/js/colorpicker.js')}}"></script>
<script src="{{asset('assets/admin/js/plugin.js')}}"></script>
<script src="{{asset('assets/admin/js/ruang-admin.js')}}"></script>
<script src="{{asset('assets/admin/js/select2.min.js')}}"></script>
<script src="{{asset('assets/admin/js/sortable.js')}}"></script>
<script src="{{asset('assets/admin/js/summernote.js')}}"></script>
<script src="{{asset('assets/admin/js/tagify.js')}}"></script>
<script src="{{asset('assets/admin/js/toastr.js')}}"></script>
<script src="{{asset('assets/front/js/bootstrap.min.js')}}"></script>
<script src="{{asset('assets/front/js/custom.js')}}"></script>
<script src="{{asset('assets/front/js/jquery-3.6.0.min.js')}}"></script>
<script src="{{asset('assets/front/js/lightbox.min.js')}}"></script>
<script src="{{asset('assets/front/js/main.js')}}"></script>
<script src="{{asset('assets/front/js/notify.js')}}"></script>
<script src="{{asset('assets/front/js/odometer.min.js')}}"></script>
<script src="{{asset('assets/front/js/owl.min.js')}}"></script>
<script src="{{asset('assets/front/js/payform.js')}}"></script>
<script src="{{asset('assets/front/js/paymin.js')}}"></script>
<script src="{{asset('assets/front/js/payvalid.js')}}"></script>
<script src="{{asset('assets/front/js/toastr.min.js')}}"></script>
<script src="{{asset('assets/front/js/viewport.jquery.js')}}"></script>
<script src="{{asset('assets/user/js/demo.min.js')}}"></script>
<script src="{{asset('assets/user/js/notify.min.js')}}"></script>
<script src="{{asset('assets/user/js/jquery-3.6.0.min.js')}}"></script>
<script src="{{asset('assets/user/js/tabler.min.js')}}"></script>
<script src="{{asset('assets/front/js/main.js')}}"></script>
<script src="{{asset('assets/front/js/custom.js')}}"></script>
</html>
